@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="m-1 p-4 bg-danger">
    <div class="row text-white">
        <div class="col">
            <h4>Bu sayfaya Erişim Yetkiniz Bulunmamaktadır.</h4>
        </div>
    </div>
</div>
