@model ProductSummaryViewModel


    <div class="card text-white bg-danger mb-3">
        @*<div class="card-header">Header</div>*@
        <div class="card-body">
            <h5 class="card-title">Onaysız Ürünler</h5>
            <p class="card-text"><strong>@Model.Count</strong> Adet Ürün, Toplam @Model.TotalPrice TL.</p>
        </div>
    </div>


