@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="m-1 p-4 bg-primary">
    <div class="row text-white">
        <div class="col">
            <h4>Ürün Ekleme</h4>
        </div>
    </div>
</div>

<link-button action="Index" bg-color="danger" controller="Home" name="Listeye Dön"></link-button>
