@model ProductViewModel
@{
    ViewData["Title"] = "Ürünler";
}
<div class="m-1 p-4 bg-primary">
    <div class="row text-white">

        <div class="col-9">
            <h4>Ürün İşlemleri</h4>
        </div>
        <div class="col-3">

        </div>

    </div>
</div>
<div class="m-1 p-1">
    <div class="row">
        <div class="col-3">
            @await Component.InvokeAsync("CategoryMenu")
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col">
                    @* <a asp-action="Create" asp-controller="Home" bs-button-color="success">+</a> *@
                    <link-button action="Create" bg-color="success" controller="Home" name="Ürün Ekleme"></link-button>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    @await Component.InvokeAsync("ProductSummary", new { CategoryId = Model.SelectedCategory, isApproved = true })
                </div>
                <div class="col-md-4">
                    @await Component.InvokeAsync("ProductSummary", new { CategoryId = Model.SelectedCategory, isApproved = false })
                </div>
            </div>


            <table class="table table-bordered table-striped table-sm">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Ürün Adı</th>
                        <th>Fiyatı</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Products.Count() == 0)
                    {
                        <tr>
                            <th colspan="4" class="text-center">Ürün Bulunamadı</th>
                        </tr>
                    }
                    else
                    {
                        @foreach (var item in Model.Products)
                        {
                            <tr>
                                <th>@item.ProductId</th>
                                <td>@item.ProductName</td>
                                <td>@item.Price</td>
                                <td>
                              
                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>


        </div>
    </div>
</div>


