@model IEnumerable<Product>
@{
    ViewData["Title"] = "Ürünler";
}
<div class="m-1 p-1 bg-primary">
    <div class="row text-white">
        <div class="col-8">
            <h4>Ürünler</h4>
        </div>
        <div class="col-4 text-right">
          
        </div>
    </div>
</div>
<div class="m-1 p-1">
    <div class="row">
        <div class="col-3">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active">Cras justo odio</a>
                <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
            </div>
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-md-3">
                    @await Component.InvokeAsync("ProductSummary", new { isApproved = true })
                </div>
                <div class="col-md-3">
                    @await Component.InvokeAsync("ProductSummary", new { isApproved = false })
                </div>
            </div>
           
            <br />
            <table class="table table-bordered table-striped table-sm">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Ürün Adı</th>
                        <th>Fiyatı</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th>@item.ProductId</th>
                            <td>@item.ProductName</td>
                            <td>@item.Price</td>
                            <td></td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>


