@{
    ViewData["Title"] = "Kullanıcı";
}
<div class="m-1 p-4 bg-primary">
    <div class="row text-white">
        <div class="col-9">
            <h4>Kullancı İşlemleri</h4>
        </div>
        <div class="col-3">
        </div>
    </div>
</div>

<div class="m-1 p-1">
    <div class="row">
        <div class="col">
            @* <a asp-action="Create" asp-controller="Home" bs-button-color="success">+</a> *@
            <link-button action="Create" bg-color="success" controller="Admin" name="Kullanıcı Ekleme"></link-button>
        </div>
    </div>
</div>
