@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Kullanıcı";
}
<div class="m-1 p-4 bg-primary">
    <div class="row text-white">
        <div class="col-9">
            <h4>Kullancı İşlemleri</h4>
        </div>
        <div class="col-3">
        </div>
    </div>
</div>

<div class="m-1 p-1">
    <div class="row">
        <div class="col">
            @* <a asp-action="Create" asp-controller="Home" bs-button-color="success">+</a> *@
            <link-button action="Create" bg-color="success" controller="Admin" name="Kullanıcı Ekleme"></link-button>
        </div>
    </div>
    <hr />
    <table class="table table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th>User Id</th>
                <th>UserName</th>
                <th>Email</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @if (Model.Count() == 0)
            {
                <tr>
                    <th colspan="4" class="text-center">Kullanıcı Bulunamadı</th>
                </tr>
            }
            else
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <th>@item.Id</th>
                        <td>@item.UserName</td>
                        <td>@item.Email</td>
                        <td></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
