@model CategoryViewModel

<div class="list-group">
    @foreach (var item in Model.Categories)
    {
        if (item.CategoryId.ToString() == Model.SelectedCategory)
        {
            <a asp-action="Index"
               asp-controller="Home"
               asp-route-id="@item.CategoryId" class="list-group-item list-group-item-action active">@item.CategoryName</a>
        }
        else
        {
            <a asp-action="Index"
               asp-controller="Home"
               asp-route-id="@item.CategoryId" class="list-group-item list-group-item-action">@item.CategoryName</a>
        }

    }


</div>
